<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target xsi:type="File" name="targetDebugFile" encoding="utf-8"
            fileName="${specialfolder:folder=LocalApplicationData}\love2hina\debug.log"
            archiveFileName="${specialfolder:folder=LocalApplicationData}\love2hina\debug.{#}.log"
            archiveAboveSize="1048576" maxArchiveFiles="2" archiveNumbering="Rolling" archiveEvery="None"
            layout="[${date},${level:uppercase=true},${logger}] ${message} ${exception}" />

    <target xsi:type="File" name="targetEfCoreFile" encoding="utf-8"
            fileName="${specialfolder:folder=LocalApplicationData}\love2hina\efcore.log"
            archiveFileName="${specialfolder:folder=LocalApplicationData}\love2hina\efcore.{#}.log"
            archiveAboveSize="1048576" maxArchiveFiles="2" archiveNumbering="Rolling" archiveEvery="None"
            layout="[${date},${level:uppercase=true},${logger}] ${message} ${exception}" />

    <target xsi:type="NLogViewer" name="TcpOutlet" address="tcp4://127.0.0.1:4505" />

  </targets>

  <rules>
    <logger name="Microsoft.EntityFrameworkCore.*" final="true" minlevel="Warn" writeTo="targetEfCoreFile" />
    <logger name="Microsoft.EntityFrameworkCore.*" final="true" />
    <logger name="*" minlevel="Info" writeTo="targetDebugFile" />

  </rules>
</nlog>
